@page "{id}"
@model ViewModel

<article>
    <section>
        <h2>Profile</h2>
        <ul>
            <li>Name: <span>@Html.DisplayFor(m => m.Profile.Name)</span></li>
            <li>DoB: <span>@Html.DisplayFor(m => m.Profile.DateOfBirth)</span></li>
            <li>Address: <span>@Html.DisplayFor(m => m.Profile.Address)</span></li>
            <li>Status: <span>@Html.DisplayFor(m => m.Profile.Status)</span></li>
        </ul>
    </section>
    <section>
        Evacuated? click&nbsp;<a asp-page="RequestSupports" asp-route-id="@Model.Profile.Id">here</a>&nbsp;to request supports
    </section>
</article>