@page
@model IndexModel
<h2>Profile search</h2>
<section>
    <a role="button" asp-page="RegistrantCreate">Create New Profile</a>
</section>
<section>
    <h4>Search by</h4>
    <form asp-antiforgery="false" method="get">
        <span>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" />
        </span>
        <span>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" />
        </span>
        <span>
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="text" name="dateOfBirth" />
        </span>
        <span>
            <input type="submit" value="Search" />
        </span>
    </form>
</section>
<section>
    @{
        if (Model.Profiles != null)
        {
            if (Model.Profiles.Count() == 0)
            {
                <p>No profiles found</p>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date of Birth</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var profile in Model.Profiles)
                        {
                            <tr>
                                <td>@profile.Name</td>
                                <td>@profile.DateOfBirth</td>
                                <td>@profile.Address</td>
                                <td>@profile.Status</td>
                                <td><a asp-page="RegistrantView" asp-route-id="@profile.Id">View</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
</section>