@page "ref={ref}&id={regid}"
@model NeedsAssessmentEditModel
<h1>Needs Assessment Review</h1>
<h2>Profile</h2>
<ul>
    <li>Name: <span>@Html.DisplayFor(m => m.Data.RegistrantName)</span></li>
    <li>Home Address: <span>@Html.DisplayFor(m => m.Data.RegistrantHomeAddress)</span></li>
    <li>Status: <span>@Html.DisplayFor(m => m.Data.Status)</span></li>
    <li>Requested On: <span>@Html.DisplayFor(m => m.Data.RequestedOn)</span></li>
</ul>
<hr />
<form asp-antiforgery="true" method="post">
    <p asp-validation-summary="ModelOnly"></p>
    <input asp-for="Data.RegistrantId" type="hidden" />
    <input asp-for="Data.ReferenceNumber" type="hidden" />
    <p>
        <label asp-for="Data.SourceAddress"></label><br />
        <input asp-for="Data.SourceAddress" />
        <span asp-validation-for="Data.SourceAddress"></span>
    </p>
    <p>
        <label asp-for="Data.HasInsurance"></label><br />
        <input asp-for="Data.HasInsurance" />
        <span asp-validation-for="Data.HasInsurance"></span>
    </p>
    <p>
        <label asp-for="Data.FoodRequired"></label><br />
        <input asp-for="Data.FoodRequired" />
        <span asp-validation-for="Data.FoodRequired"></span>
    </p>
    <p>
        <label asp-for="Data.Member1Name"></label><br />
        <input asp-for="Data.Member1Name" />
        <span asp-validation-for="Data.Member1Name"></span>
    </p>
    <p>
        <label asp-for="Data.Member1DateOfBirth"></label><br />
        <input asp-for="Data.Member1DateOfBirth" />
        <span asp-validation-for="Data.Member1DateOfBirth"></span>
    </p>
    <p>
        <label asp-for="Data.Animal1Type"></label><br />
        <input asp-for="Data.Animal1Type" />
        <span asp-validation-for="Data.Animal1Type"></span>
    </p>
    <p>
        <label asp-for="Data.Animal1Quantity"></label><br />
        <input asp-for="Data.Animal1Quantity" />
        <span asp-validation-for="Data.Animal1Quantity"></span>
    </p>
    <p>
        <label asp-for="Data.Animal1HasFoodSupplies"></label><br />
        <input asp-for="Data.Animal1HasFoodSupplies" />
        <span asp-validation-for="Data.Animal1HasFoodSupplies"></span>
    </p>
    @if (Model.Data.PreviousNotes.Any())
    {
        <p>
            <label>Previous notes</label>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.Data.PreviousNotes)
                    {
                        <tr>
                            <td>@note.when</td>
                            <td>@note.byUser</td>
                            <td>@note.note</td>
                        </tr>
                    }
                </tbody>
            </table>
        </p>
    }
    <p>
        <label asp-for="Data.Note"></label><br />
        <textarea asp-for="Data.Note"></textarea>
        <span asp-validation-for="Data.Note"></span>
    </p>
    <input type="submit" value="Finish" />
</form>